$base-font-size : 22px;

//цвета хедера-------------------------------------------------------------------------------------------------------------------------------------------
$head-logo: rgb(11, 53, 53);
$menu-item-1: rgb(189, 14, 233);
$menu-item-2:rgb(222, 194, 16);
$menu-item-3:rgb(36, 215, 228);
$menu-item-4:rgb(251, 17, 17);

//tits colors----------------------------------------------------------------------------------------------
$tits-desc: rgb(247, 236, 161);
//text-box and footer----------------------------------------------------------------------------------------
$text-color: wheat;
$text-back:  rgb(36, 35, 35);